<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dayily Sanity Dashboard page</title>
</head>
<body>


<b>Builds:</b>

<form action="/dailyp/" method="post">
    {% csrf_token %}
    {{ form_buildsSelector }}
    <input type="submit" value="Submit" />
</form>
<br />
<br />


<b>Status:</b>

    <table border="1">
        {% for item in model.summary %}
        <tr>
            <td>&nbsp;<a href=category?category={{item.name}}&b={{model.baseline_build}}&a={{model.active_build}}>{{item.name}}</a>&nbsp;</td>
            {% if item.status == "FAILED" %}
            <td><b><font color="red">{{item.status}}</font></b></td>
            {% else %}
            <td><b><font color="green">{{item.status}}</font></b></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

<br />
<br />
<br />
<br />

Debug message {{ model.debug_message }}

</body>
</html>

