<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dailyp - Category Details</title>
</head>
<body>


<b>Builds:</b>

<form action="/" method="post">
    {% csrf_token %}
    {{ form_buildsSelector }}
    <input type="submit" value="Submit" />
</form>
<br />
<br />

<b>Category: </b> {{model.category_name}} <br/>
<br />
<b>Status: </b>


<b>Status:</b>

    <table border="1">
        {% for item in model.summary %}
        <tr>
            <td>&nbsp;{{item.title}}&nbsp;</td>
            {% if item.status == "FAILED" %}
                <td><b><font color="red">&nbsp;{{item.status}}&nbsp;</font></b></td>
            {% elif item.status == "PASSED" %}
                <td><b><font color="green">&nbsp;{{item.status}}&nbsp;</font></b></td>
            {% else %}
                <td><font color="DarkOrange">&nbsp;{{item.status}}&nbsp;</font></td>
            {% endif %}
            <td>
                <table border="0">
                {% for metric_item in item.metrics %}
                    <tr>
                        <td>
                            {{ metric_item.description }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </td>


            <td>
                     <table border="0">
                         {% for metric_item in item.metrics %}
                                <tr>
                                    <td>{{metric_item.baseline}}</td>
                                 </tr>
                                <tr>
                                    {% if metric_item.status == "FAILED" %}
                                        <td><b><font color = "red"> {{metric_item.current}}</font></b></td>
                                    {% else %}
                                        <td> {{metric_item.current}} </td>
                                    {% endif %}
                                </tr>
                         {% endfor %}
                     </table>
            </td>

            <td>

                <table border="0">


                    <tr>
                        <td>
                            {% for snapshot in item.baseline_snapshots %}
                            <a href={{ snapshot }}>baseline</a>&nbsp
                            {% endfor %}
                        </td>
                    </tr>



                    <tr>
                        <td>
                            {% for  snapshot in item.active_snapshots %}
                            <a href={{ snapshot }}>current</a>&nbsp
                            {% endfor %}
                        </td>
                    </tr>


                </table>
            </td>
            <td>
                <table border="0">
                    <tr>
                        <td>
                            {{ item.baseline_datetime }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ item.active_datetime }}
                        </td>
                    </tr>
                </table>

            </td>
            <td>
                <a href=../history?category={{model.category_name}}&test={{item.name}}&b={{model.baseline_build}}&a={{model.active_build}}>history</a>&nbsp;
            </td>
        </tr>
        {% endfor %}
    </table>



{{ model.debug_message }}


</body>
</html>

