<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dayily Sanity Dashboard  - Test details</title>
</head>
<body>


<b>Builds:</b>

<form action="/dailyp/" method="post">
    {% csrf_token %}
    {{ form_buildsSelector }}
    <input type="submit" value="Submit" />
</form>
<br />

<b>Category:  </b> {{model.category_name}} <br />
<b>Test:  </b> {{model.test_title}}  <br />
<br />
<b>Status:</b>

    <table border="1">
        {% for item in model.summary %}
        <tr>
            <td>&nbsp;{{item.description}}&nbsp;</td>
            {% if item.status == "FAILED" %}
            <td><b><font color="red">{{item.status}}</font></b></td>
            {% else %}
            <td><b><font color="green">{{item.status}}</font></b></td>
            {% endif %}
            <td>
                <table border="0">
                    <tr>
                        <td>Baseline:</td>
                        <td>{{item.baseline}}</td>
                    </tr>
                    <tr>
                        <td>Current:</td>
                        <td>{{item.current}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>

<br />
<br />
<br />
<br />

Debug message {{ model.debug_message }}



</body>
</html>

